trigger:
  branches:
    include:
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  location: 'uksouth'
  resourceGroupName: 'rg-vnet-wotlab01'
  armTemplateFile: 'LZ-ARM/DeployNetworking/azuredeploy.json'
  armParametersFile: 'LZ-ARM/DeployNetworking/azuredeploy.parameters.json'

steps:
- task: AzureCLI@2
  inputs:
    azureSubscription: 'azureSP'
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      az group create --name $(resourceGroupName) --location $(location)

- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Deploy Hub VNET and Subnets'
  inputs:
    azureResourceManagerConnection: azureSP
    action: 'Create Or Update Resource Group'
    resourceGroupName: $(resourceGroupName)
    subscriptionId: 'd9d2ecd3-56a0-4f15-bae9-04b37c0d4335'
    location: $(location)
    templateLocation: 'Linked artifact'
    csmFile: '$(System.DefaultWorkingDirectory)/$(armTemplateFile)'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/$(armParametersFile)'
    deploymentMode: 'Incremental'

- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Deploy Core VNET and Subnets'
  inputs:
    azureResourceManagerConnection: azureSP
    action: 'Create Or Update Resource Group'
    resourceGroupName: $(resourceGroupName)
    subscriptionId: 'd9d2ecd3-56a0-4f15-bae9-04b37c0d4335'
    location: $(location)
    templateLocation: 'Linked artifact'
    csmFile: '$(System.DefaultWorkingDirectory)/$(armTemplateFile)'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/$(armParametersFile)'
    overrideParameters: 
      -vnetName "core01" 
      -vnetAddressPrefix "10.60.16.0/24" 
      -subnets [{"name":"application01","addressPrefix":"10.60.16.0/26"},{"name":"database01","addressPrefix":"10.60.16.64/26"},{"name":"activedirectory","addressPrefix":"10.60.16.128/26"},{"name":"webserver01","addressPrefix":"10.60.16.192/28"}]
    deploymentMode: 'Incremental'

- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Deploy Prod VNET and Subnets'
  inputs:
    azureResourceManagerConnection: azureSP
    action: 'Create Or Update Resource Group'
    resourceGroupName: $(resourceGroupName)
    subscriptionId: 'd9d2ecd3-56a0-4f15-bae9-04b37c0d4335'
    location: $(location)
    templateLocation: 'Linked artifact'
    csmFile: '$(System.DefaultWorkingDirectory)/$(armTemplateFile)'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/$(armParametersFile)'
    overrideParameters: 
      -vnetName "prod01"
      -vnetAddressPrefix "10.60.32.0/24"
      -subnets [{"name":"application01","addressPrefix":"10.60.32.0/26"},{"name":"database01","addressPrefix":"10.60.32.64/26"},{"name":"webserver01","addressPrefix":"10.60.32.128/26"}]
    deploymentMode: 'Incremental'

- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Deploy Prod VNET and Subnets'
  inputs:
    azureResourceManagerConnection: azureSP
    action: 'Create Or Update Resource Group'
    resourceGroupName: $(resourceGroupName)
    subscriptionId: 'd9d2ecd3-56a0-4f15-bae9-04b37c0d4335'
    location: $(location)
    templateLocation: 'Linked artifact'
    csmFile: '$(System.DefaultWorkingDirectory)/$(armTemplateFile)'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/$(armParametersFile)'
    overrideParameters: 
      -vnetName "prod01"
      -vnetAddressPrefix "10.60.32.0/24"
      -subnets [{"name":"application01","addressPrefix":"10.60.32.0/26"},{"name":"database01","addressPrefix":"10.60.32.64/26"},{"name":"webserver01","addressPrefix":"10.60.32.128/26"}]
    deploymentMode: 'Incremental'

- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Deploy Pre-Prod VNET and Subnets'
  inputs:
    azureResourceManagerConnection: azureSP
    action: 'Create Or Update Resource Group'
    resourceGroupName: $(resourceGroupName)
    subscriptionId: 'd9d2ecd3-56a0-4f15-bae9-04b37c0d4335'
    location: $(location)
    templateLocation: 'Linked artifact'
    csmFile: '$(System.DefaultWorkingDirectory)/$(armTemplateFile)'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/$(armParametersFile)'
    overrideParameters: 
      -vnetName "preprod01"
      -vnetAddressPrefix "10.60.64.0/24"
      -subnets [{"name":"application01","addressPrefix":"10.60.64.0/26"},{"name":"database01","addressPrefix":"10.60.64.64/26"},{"name":"webserver01","addressPrefix":"10.60.64.128/26"}]
    deploymentMode: 'Incremental'

- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Deploy Test Subnets'
  inputs:
    azureResourceManagerConnection: azureSP
    action: 'Create Or Update Resource Group'
    resourceGroupName: $(resourceGroupName)
    subscriptionId: 'd9d2ecd3-56a0-4f15-bae9-04b37c0d4335'
    location: $(location)
    templateLocation: 'Linked artifact'
    csmFile: '$(System.DefaultWorkingDirectory)/$(armTemplateFile)'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/$(armParametersFile)'
    overrideParameters: 
      -vnetName "preprod01"
      -vnetAddressPrefix "10.60.96.0/25"
      -subnets [{"name":"application01","addressPrefix":"10.60.96.0/27"},{"name":"database01","addressPrefix":"10.60.96.32/27"},{"name":"webserver01","addressPrefix":"10.60.96.64/27"}]
    deploymentMode: 'Incremental'

- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Deploy Dev Subnets'
  inputs:
    azureResourceManagerConnection: azureSP
    action: 'Create Or Update Resource Group'
    resourceGroupName: $(resourceGroupName)
    subscriptionId: 'd9d2ecd3-56a0-4f15-bae9-04b37c0d4335'
    location: $(location)
    templateLocation: 'Linked artifact'
    csmFile: '$(System.DefaultWorkingDirectory)/$(armTemplateFile)'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/$(armParametersFile)'
    overrideParameters: 
      -vnetName "preprod01"
      -vnetAddressPrefix "10.60.112.0/25"
      -subnets [{"name":"application01","addressPrefix":"10.60.112.0/27"},{"name":"database01","addressPrefix":"10.60.112.32/27"},{"name":"webserver01","addressPrefix":"10.60.112.64/27"}]
    deploymentMode: 'Incremental'

- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Deploy UDRs'
  inputs:
    azureResourceManagerConnection: azureSP
    action: 'Create Or Update Resource Group'
    resourceGroupName: $(resourceGroupName)
    subscriptionId: 'd9d2ecd3-56a0-4f15-bae9-04b37c0d4335'
    location: $(location)
    templateLocation: 'Linked artifact'
    csmFile: '$(System.DefaultWorkingDirectory)/LZ-ARM/DeployNetworking/UDR/azuredeploy.json'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/LZ-ARM/DeployNetworking/UDR/azuredeploy.parameters.json'
    deploymentMode: 'Incremental'

- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Deploy NSGs'
  inputs:
    azureResourceManagerConnection: azureSP
    action: 'Create Or Update Resource Group'
    resourceGroupName: $(resourceGroupName)
    subscriptionId: 'd9d2ecd3-56a0-4f15-bae9-04b37c0d4335'
    location: $(location)
    templateLocation: 'Linked artifact'
    csmFile: '$(System.DefaultWorkingDirectory)/LZ-ARM/DeployNetworking/NSG/azuredeploy.json'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/LZ-ARM/DeployNetworking/NSG/azuredeploy.parameters.json'
    deploymentMode: 'Incremental'

steps:
- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Configure VNET Peering'
  inputs:
    deploymentScope: Subscription
    azureResourceManagerConnection: azureSP
    subscriptionId: 'd9d2ecd3-56a0-4f15-bae9-04b37c0d4335'
    location: $(location)
    csmFile: '$(System.DefaultWorkingDirectory)/LZ-ARM/DeployNetworking/Peering/azuredeploy.json'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/LZ-ARM/DeployNetworking/Peering/azuredeploy.parameters.json'
    overrideParameters: 
      -existingLocalVirtualNetworkName "vn-wot-uks-core01"
      -existingRemoteVirtualNetworkName "vn-wot-uks-hub01"
      -existingRemoteVirtualNetworkResourceGroupName "rg-vnet-wotlab01"